<h1><%= link_to_unless_current(article.title, article_path(article.user.blog_name, article)) %></h1>

<%= simple_format(article.text) %>
Published by <%= link_to article.user.blog_name, articles_path(article.user.blog_name)%>
<%= link_to 'Edit', edit_article_path(article.user.blog_name, article) %> |
<%= link_to 'Destroy', article_path(article.user.blog_name, article), method: :delete, data: { confirm: 'Are you sure?' } %>
