<h1><%= link_to_unless_current(article.title, article_path(article.user.username, article)) %></h1>

<%= simple_format(article.text) %>
Published by <%= link_to article.user.username, articles_path(article.user.username)%>
<%= link_to 'Edit', edit_article_path(article.user.username, article) %> |
<%= link_to 'Destroy', article_path(article.user.username, article), method: :delete, data: { confirm: 'Are you sure?' } %>
