<%
   if @article.persisted?
     # article exists => send to update
     url = article_path(@user.username, @article)
     method = :put
   else
     # article is new => send to create
     url = articles_path(@user.username)
     method = :post
   end
%>
<%= form_for @article, :url => url, :method => method do |f| %>
  <%= render "shared/validation_errors", :model => @article %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
