<h1>Settings</h1>
<%= form_for(@user, :url => user_path, :method => :put) do |f| %>
  <%= render "shared/validation_errors", :model => @user %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>

  </div>

  <%= f.submit 'Update settings' %>
<% end %>
