<div class="header">
  <%= link_to t('home'), root_path %>

  <% if current_user %>
    <%= link_to t('my_blog', :username => current_user.username), articles_path(current_user.username) %>
    <%=link_to t('settings'), edit_user_path %>
    <%=link_to t('devise.views.common.log_out'), destroy_user_session_path, :method => :delete %>
  <% else %>
    <%=link_to t('devise.views.common.log_in'), new_user_session_path%>
    <%=link_to t('devise.views.common.sign_up'), new_user_registration_path %>
  <% end %>

  <div class="pull-right" >
    <%= link_to_if(I18n.locale != :en, "en", change_locale_path("en")) %> |
    <%= link_to_if(I18n.locale != :fr, "fr", change_locale_path("fr")) %>
  </div>
</div>

<div class="featured-blogs">
  <%=t('featured_blogs') %> :
  <% @featured_users.each do |user| %>
      <%= link_to user.username, articles_path(user.username) %>
  <% end %>
</div>